<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.infrastructure.mapper.JobMapper">

    <resultMap id="JobEntityMap" type="com.demo.domain.JobEntity">
        <id column="job_id" property="jobId"/>
        <result column="job_name" property="jobName"/>
        <collection property="jobUrls" ofType="java.lang.String">
            <result column="picture_url"/>
        </collection>
        <collection property="jobSkills" ofType="java.lang.String">
            <result column="skill_name"/>
        </collection>
    </resultMap>

    <select id="fetchJob" parameterType="java.util.List" resultMap="JobEntityMap">
        SELECT
        j.job_id,
        j.job_name,
        COALESCE(p.picture_url, '') AS picture_url,
        COALESCE(s.skill_name, '') AS skill_name
        FROM
        job j
        LEFT JOIN
        picture p ON j.job_id = p.job_id
        LEFT JOIN
        skill_job sj ON j.job_id = sj.job_id
        LEFT JOIN
        skill s ON sj.skill_id = s.skill_id
        WHERE
        s.skill_name IN
        <foreach item="skill" index="index" collection="skills" open="(" separator="," close=")">
            #{skill}
        </foreach>
    </select>

</mapper>
